{{#extends 'base'}}

{{#block 'content'}}
<h1>Deleteing {{petToDelete.name}}</h1>
<form method="POST">
    <div class="alert alert-danger">
        Are you sure you want to delete
        {{petToDelete.name}} from the system?

    </div>
    <input type="submit" class="btn btn-danger" value="Confirm"/>
    <a href="/pets" class="btn btn-primary">No</a></a>

</form>
{{/block}}

{{/extends}}