{{#extends 'base'}}

{{#block 'content'}}

<form method="POST">
    <div>
        <label class="form-label">Movie Title</label>
        <input type="text" name="title" class="form-control"/>
    </div>
    <div>
        <label class="form-label">Plot</label>
        <textarea class="form-control" name="plot"></textarea>
    </div>

    <input type="submit" class="btn btn-primary mt-3" value="Create"/>
</form>

{{/block}}

{{/extends}}