{{#extends 'base'}}

{{#block 'content'}}
<div id="movies-display">
    {{#each all_movies}}
    <div class="card mt-5" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.plot}}</p>
        </div>
    </div>
    {{/each}}
</div>

{{/block}}

{{/extends}}