{{#extends 'base'}}

{{#block 'content'}}
<form method="POST">
    <div>
        <textarea name="comments" class="form-control" placeholder="comments"></textarea>
    </div>
    <input type="submit" class="btn btn-primary mt-3">
</form>
{{/block}}

{{/extends}}